<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiasuhuei321.weather">

    <!-- 集成模式下的清单文件 -->
    <application android:theme="@style/AppTheme">
        <activity android:name=".TestActivity" />
    </application>

</manifest>